{% extends "pinner/layout.html" %}

{% block body %}
<div class="cc">
  <div class="container">
    <h1 class="text-center">Register</h1>
    {% if message %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
         
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
       
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="cpassword">
          </div>
       
        <button type="submit" class="btn btn-primary" style="background-color: black;border: none;">Submit</button> 
      </form>
      <div class="form-text mt-3">You have already account.Please <a href="{% url 'login' %}" style="color: black;font-weight: bold;">login</a></div>
</div>
</div>


{% endblock %}